@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* estilização da pagina inteira */ 
* {
  margin: 0px;
  padding: 0px;
  
}
body {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   color: white; 
   background-color: #292929;
}
* body a li {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   color: white; 
}
/* estilização da barra lateral/sidebar */
 .side-bar {
  position: fixed;
  z-index: 1000;
  max-width: 3%;  
  width: 100%;
  min-width: 10px;
  height: 100%;
  max-height: 100%;  
}

.side-bar .insidebar{  
  background-color : #242424d3; 
  width: 160px;
  max-width:  15% ;
  min-width: 90px;
  position: fixed;
  padding: 0px 10px;    
  color: white;  
  height : 100%;
  max-height: 100%;

}

.insidebar ul{  
  margin: 10px 0px;
}

 .insidebar ul li{   
  text-align: center;
  padding: 3px 0px;
  list-style: none;    
}
/* Container inicial, primeira coisa que aparece na pagina */
.topContainer{  
  max-width: 100%;  
  height: 100%;
  max-height: 589px;
  display: flex;
  flex-direction: column;
}

.topContainer .highlights-games{
  display: flex;
  flex-direction: row;   
  max-height: 100%;
}

.topContainer .highlights-games .slide {       
  width: 100%;
  max-height: 100%;
  max-width: 1100px;
  cursor: pointer;
}
.topContainer .highlights-games .content .preview  {
  display: flex;  
  flex-direction: row;
  max-height: 100%;
  max-width: 710,9px;
}
.slide:hover{
  opacity: 0.6;
}
.middleText {  
  opacity: 0;
  position: absolute;  
  align-self: flex-end;
  
}
.middleText .text {  
  color: white;
  font-size: 50px;
  align-self: flex-end;
  
}


.topContainer .content {
  background-color: #1d1d1d2a;
}

.topContainer .highlights-games .content {
  display: flex;  
  max-width: 100%;
  max-height: 589px;
}

.topContainer .highlights-games .content .highlightDesc {
  max-width: 100%;
  height: 34.5%;
}
.topContainer .highlights-games .content .preview {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.topContainer .highlights-games .content .preview ul {
  max-width: 100%;
  margin: 0px 0px 0px 1%; 
  max-height: 100%;
}

.topContainer .highlights-games .content .preview ul li {
  list-style: none;
}

.topContainer .highlights-games .content .preview ul li img {
  max-width: 100%;
  max-height: 160px;
}

.topContainer .highlights-games .content .preview ul li img:hover {
  opacity: 0.5;
}


.topContainer .highlights-games .content .highlightDesc {
  max-width: 650px;      
  display: flex;
  flex-direction: column;  
  
}

.highlightDesc h1 {
  text-align: center;
}
.highlightDesc p {  
  padding-left: 20px;
  
  font-size: 25px; 
  text-shadow: 5px 5px 20px black;
}

.desc {  
  max-width: 100%;
  font-size: 1.3em;
  color: white;  
}

.gameDesc {  
  padding: 10px;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 9.4em; 
  line-height: 1em;
  text-align:justify;
}

.desc.ellipsis::after {
  padding: 10px;
  content: "...";  
  right: -12px; 
  bottom: 4px;
}

.valor {
  align-self: flex-end;
  padding-right: 10px;
  font-size: 2em;
}

.buttonArea {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;      
}
.buttonArea button {
  margin-right: 5px;
}
.btn-carrinho{  
  cursor: pointer;  
  width: 25%;
  min-width: 25%;
  height: 50px;
  padding: 10px 5px 10px 5px;
  border-radius: 7px;
  background-color: #3aff0099;
  box-shadow: 3px 5px 30px black;
  border-color: #10460099;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
/*Fim do primeiro container, eu sei ele ficou grande */ 

/* Inicio do container de conteudo da página index */ 
.container { 
  margin: 0px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  max-width: 100%;  

}
.container .content {
  display: flex;
  flex-direction: row;
}

.container .ctgTitle { 
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.container .content ul{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container .content ul li {
  width: 100%;
  margin-right: 10px;  
  list-style: none;
}
.container .content ul li img {
  max-width: 100%;
  height: auto;
}
