#libPage{
  width: 100%;
  height: auto;
  color: white;
}

#libPage h2{
  text-align: center;
  color: #95f726;
}
.gameLib {  
  margin-top: 10px;
  display: flex;  
  flex-direction: row;
  color: #95f726;
  border-bottom: 1px solid #696969;
  width: 100%;
  height: 175.11px ;

}

.gameLib h1{  
  margin-left: 10px;
  color: white;
  text-shadow: #95f726 1px 1px 10px;  
  vertical-align: middle;
  width: 100%;
}

.gameLib img{  
  width: 20%;
}
.titleLib{
  width: 100%;
}

.buttonContainer {  
  margin-top: 131px;  
  width: 100%;
}

.buttonContainer button {
    align-self: end;  
    float: right;
    background-color: transparent;
    border: transparent;
    margin-right: 10px;
    width: 50px;
}

.buttonContainer button img {
    width: 40px;
    
    
}