.container_login {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%; 
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 65px;
}
.content_box{
    align-self: center;
    
    display: flex; 
    flex-direction: row;     
    border: #95f726 solid 1px;
    box-shadow: 1px 1px 10px;
    
    max-height:100%;
}
.login form{
    display: flex; 
    flex-direction: column; 
    margin: 0px 50px; 
    margin-top: 15%;

}
.login form label {
    color: #95f726;
    text-shadow: 1px 1px 10px;

}
/* ecd92e*/
.login form h3{
    color:#95f726; 
    text-align: center;
} 

.createAccount{
    display: flex; 
    flex-direction: column; 
    margin: 0px 50px; 
    margin-top: 5%;

}
.createAccount form {
    display: flex; 
    flex-direction: column; 
    margin: 0px 50px; 
    margin-top: 5%;

}
.createAccount span {
    color: #95f726;
    text-shadow: 1px 1px 10px;

}
/* ecd92e*/
.createAccount h3{
    color:#95f726; 
    text-align: center;
    text-shadow: 1px 1px 5px;
} 

.createAccount  input {
    margin-top: 5px;

}

#create_acount {
    text-align: center;
}
.login input {
    margin-top: 5px;
}
h2 {
     align-self: center;
     color: white;
     margin: 10px 0px;
}
.confirmation_btn{
    color: white;
    margin-top: 10px;
    width: 200px; 
    height: 40px;            
    display: flex;
    background-color: #303030;
    border:#3a3a3a solid 1px; 
    margin-bottom: 20px;
}

.confirmation_btn:hover{
    cursor: pointer;
    background-color: #3a3a3a;
    border:#95f726 solid 1px; 
    color: #95f726;
    text-shadow: 1px 1px 10px;
}

.button_text{    
    font-size: 1em;       
    width: 100%;
    height: 100%;            
}
/*
#facebook_btn {
    width: 200px; 
    height: 50px;
    align-self: center;
    display: flex;
    background-color: #303030;
    border:#3a3a3a solid 1px; 
}
#facebook_btn:hover {
    cursor: pointer;
    background-color: #3a3a3a;
    border:#525252 solid 1px; 
}
#facebook_btn span {
    align-self: center;
    margin: 0px 0px 0px 5px;
    color: white;
}

#facebook_icon{
    fill: white;
    width: 30px;
    height: 30px;    
    margin: 0px 0px px 0px ;              
    align-self: flex-start;
}        

#google_btn {
    margin-top: 5px;
    width: 200px; 
    height: 50px;
    align-self: center;
    display: flex;
    background-color: #303030;
    border:#3a3a3a solid 1px; 
}
#google_btn:hover {
    cursor: pointer;
    background-color: #3a3a3a;
    border:#525252 solid 1px; 
}
#google_btn span {
    align-self: center;
    margin: 0px 0px 0px 5px;
    color: white;
}

#google_icon{            
    width: 30px;
    height: 30px;

    margin: 0px 0px px 0px ;              
    align-self: flex-start;
}
*/
.login input{
    background-color: #353535;
    font-style: oblique;
    border: #303030 ;
    color: white;
    height: 30px;
    margin-bottom: 10px;       
    
}
.login input::placeholder{
    color: #bebebe;
}

.createAccount input{
    background-color: #353535;
    font-style: oblique;
    border: #303030 ;
    color: white;
    height: 30px;
    margin-bottom: 10px;       
    
}
.createAccount input::placeholder{
    color: #bebebe;
}
.confirmation_btn:disabled{
    color: black;
    margin-top: 10px;
    width: 200px; 
    height: 40px;            
    display: flex;
    background-color: #303030;
    border:#3a3a3a solid 1px; 
    margin-bottom: 20px;
    cursor:not-allowed;
}

.confirmation_btn:disabled .button_text{    
    color: #505050;
    font-size: 1em;       
    width: 100%;
    height: 100%;            
}
