#header {    
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    background-color: #222222d0;
    position: fixed;    
    z-index: 1000;
}

#header ul {
    margin-top: 20px;    
    display: flex;
    flex-direction: row;    
    align-self: center;    
}

#header ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 14px;    
}

a { 
    color: #95f726;       
    text-decoration: none;
}

a:hover { 
    color: #bebebe;       
    text-decoration: none;
}

#userLogged{
    float: right;
    align-content: flex-end;
    align-self: flex-end;
    text-align: right;
}
.sacola {  
  font-size: 14px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: right;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.sacola div {
    margin-left: 10px;
}

#header span{      
    text-align: end;
    color: #95f726; 
    
}