* {
  margin: 0px;
  padding: 0px;
  
}
body {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   color: white; 
   background-color: #292929;
}
#header {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100%;
    background-color: #0000004f;
    position: fixed;
}
#header ul {
    display: flex;
    flex-direction: row;    
    align-self: center;    
}
#header ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 14px;
    
}
a { 
    color: green;       
    text-decoration: none;
}
a:hover { 
    color: #292929;       
    text-decoration: none;
}