.container { 
  margin: 0px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 100%;  

}
.container .content {
  display: flex;
  flex-direction: row;
}

.container .ctgTitle { 
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.container .content ul{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container .content ul li {
  width: 100%;
  margin-right: 10px;  
  list-style: none;
  position: relative;
}
.container .content ul li img {
  max-width: 300px;
  height: auto;
  
}
.container .content ul li .gameInfo{
  background-color: #29292981;
  height: 100%;
  padding-top: 20%;
  position: absolute;
  width: 100%;
  text-align: center;    
  display: none;
}