#homePage{
  display: flex;
  max-width: 100%;
  max-height: 100%;  
  flex-direction: column;
}
.topContainer{  
  max-width: 100%;  
  height: 100%;
  max-height: 589px;
  display: flex;
  flex-direction: column;
}

.topContainer .highlights-games{
  display: flex;
  flex-direction: row;   
  max-height: 100%;
}

.topContainer .highlights-games .slide {       
  width: 100%;
  max-height: 100%;
  max-width: 1100px;
  cursor: pointer;
}
.topContainer .highlights-games .content .preview  {
  display: flex;  
  flex-direction: row;
  max-height: 100%;
  max-width: 710,9px;
}
.slide:hover{
  opacity: 0.6;
}
.middleText {  
  opacity: 0;
  position: absolute;  
  align-self: flex-end;
  
}
.middleText .text {  
  color: white;
  font-size: 50px;
  align-self: flex-end;  
}

.topContainer .content {
  background-color: #1d1d1d2a;
}

.topContainer .highlights-games .content {
  display: flex;  
  max-width: 100%;
  max-height: 589px;
}

.topContainer .highlights-games .content .highlightDesc {
  max-width: 100%;
  height: 100%;
}
.topContainer .highlights-games .content .preview {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.topContainer .highlights-games .content .preview ul {
  max-width: 100%;
  margin: 0px 0px 0px 1%; 
  max-height: 100%;
}

.topContainer .highlights-games .content .preview ul li {
  list-style: none;
}

.topContainer .highlights-games .content .preview ul li img {
  max-width: 100%;
  max-height: 160px;
}

.topContainer .highlights-games .content .preview ul li img:hover {
  opacity: 0.5;
}


.topContainer .highlights-games .content .highlightDesc {
  max-width: 650px; 
  max-height: 100%;     
  display: flex;
  flex-direction: column;  
  
}

.highlightDesc h1 {
  text-align: center;
  color: #bebebe;
  font-size: 25px; 
  text-shadow: 5px 5px 20px black;
}

.highlightDesc span { 
  height: 250px;
  padding: 8px;
  color: white;
  text-align: justify;
  font-size: 1.2em;
  overflow: hidden;
}

.highlightDesc #valor {
  margin-top: 10px;
  color: white;
  font-size: 1.6em;
  text-align: end;
}
.buttonArea {
  width: 100%;
  display: flex;        
  flex-direction: row-reverse;
  text-align: center;
}

.buttonArea button {
    margin-top: 10px;
    width: 200px; 
    height: 40px;            
    display: flex;    
    background-color: #303030;
    border:#3a3a3a solid 1px; 
    margin-bottom: 20px;
    margin-right: 5px;
    color: #95f726;      
    text-align: center;    
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
    
}

.buttonArea button:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  border:#95f726 solid 1px; 
  color: #95f726;
}

#highlightTile {
  color: white;
  text-shadow: #95f726 1px 1px 10px;
  font-size: 30px;
    
}

.highlightDesc #valor{
  margin-right: 10px;
  font-size: 30px;
}

/*Daqui pra frente só as categorias/tags */ 


.categoryImage img{
  width: 300px;

}