.footer {   
  display: flex;  
  flex-direction: column-reverse  ;
  height: 200px;
  margin-top: 00px;  
  width:100%;
  /*background-color: #1d1d1d2a;*/
  background-image: linear-gradient(#292929, #000000 );
}

.footerArea{
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: oblique;
  margin-bottom: 15px;
  align-self: center;
  text-align: center;
  color: #afafaf5e;
}
.footerArea a { 
  text-decoration: none;
  color:#afafaf5e ;
}
.footerArea a:hover {
  color: white;
}