@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0; 
  outline: 0;
  box-sizing: border-box;  
}

html, body, #root{
  min-height: 100%; 
  max-width: 100%;
  margin: 0;
  background: #292929 ;  
}

body {
  display: flex;
  flex-direction: column;
  background: #292929 ;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
} 

body, input, button, a {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;  
}

.navbar{
  z-index: 9;  
}
.Page{
  margin-top: 50px;
  display: flex;
}
.page{
  display: flex;
}
#footer{         
  margin-top:calc(3% + 4px);
}