@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0; 
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%; 
  max-width: 100%;
}

body {
  background: #292929 ;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
} 

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;  
}
.container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.container p {  
  font-size: 3em;
  color: white;
}
.container #App {
  height: 100vh;
}
.container .content {
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
}
